<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>web_pro</display-name>
  
 <welcome-file-list>
		<welcome-file>registration.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>RegistrationController</display-name>
		<servlet-name>RegistrationController</servlet-name>
		<servlet-class>MyPack.RegistrationController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RegistrationController</servlet-name>
		<url-pattern>/RegistrationController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>MyPack.LoginController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>ContactController</display-name>
		<servlet-name>ContactController</servlet-name>
		<servlet-class>MyPack.ContactController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ContactController</servlet-name>
		<url-pattern>/ContactController</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <description></description>
    <display-name>CartController</display-name>
    <servlet-name>CartController</servlet-name>
    <servlet-class>MyPack.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/CartController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CheckoutController</display-name>
    <servlet-name>CheckoutController</servlet-name>
    <servlet-class>MyPack.CheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutController</servlet-name>
    <url-pattern>/CheckoutController</url-pattern>
  </servlet-mapping>
  
	
</web-app>